<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
<input type="checkbox" id="check" >
<label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
    <header><i class="fas fa-video"></i> Filmotech</header>
    <ul>
        <li>
            <a href="{{ path('movie_home') }}">
                <i class="fas fa-home"></i>
                Home
            </a>
        </li>
        <li>
            <a href="{{ path('movie_search_api') }}"><i class="fas fa-search"></i> Rechercher un film</a>
        </li>
        <li>
            <a href="#"><i class="far fa-clock"></i> A voir</a>
        </li>
    </ul>
</div>
<!-- Page Content  -->
<div id="content">
    {% block body %}
    {% endblock %}
</div>
{% block footer %}
{% endblock %}
{# <footer> #}
{# <div class="footer"> #}
{# &copy Copyright 2019 - 2020 #}
{# </div> #}
{# </footer> #}
{{ encore_entry_script_tags('app') }}
{% block javascripts %}
{% endblock %}
</body>
</html>